/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}
.navbar-brand {
   vertical-align: middle;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
}
button img{
    margin-right: auto;
    border: 1px solid red;
}

button span{
    border: 1px solid red;
    margin-right: auto;
}


